{% extends "webxapp/masterpage.html" %}

{% load static %}

{% block content %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Tienda</span>
                    <span class="section-heading-upper">Listado de Productos</span>
                </h2>
            </div>
        </div>
    </section>
    {% for producto in productos %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{producto.imagen.url}}" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">{{producto.nombre}}</span>
                        <span class="section-heading-upper">{{producto.precio}}</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}